*.tx
*.f*
*.input
tables.dat
*.zip
*.root
*.so
*.d
*dataDir
*BeamPipeDir
*dataDir_Hydro
*.nfs*
*~
*schedTemplateExp.xml
*.dataset
*.session.xml
BeamPipeBackground
*.list
*ZEBRA.O
*kumacold
*metafile
*.txt
array*
*.o